globaltech_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="GlobalTechData">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="Projects">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Project" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ProjectID" type="xs:int"/>
                                        <xs:element name="ProjectName" type="xs:string"/>
                                        <xs:element name="Department" type="xs:string"/>
                                        <xs:element name="StartDate" type="xs:date"/>
                                        <xs:element name="Status" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Employees">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Employee" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="EmployeeID" type="xs:int"/>
                                        <xs:element name="Name" type="xs:string"/>
                                        <xs:element name="Department" type="xs:string"/>
                                        <xs:element name="Email" type="xs:string"/>
                                        <xs:element name="HireDate" type="xs:date"/>
                                        <xs:element name="ProjectID" type="xs:int"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="PayrollRecords">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Payroll" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PayrollID" type="xs:int"/>
                                        <xs:element name="EmployeeID" type="xs:int"/>
                                        <xs:element name="Month" type="xs:string"/>
                                        <xs:element name="Year" type="xs:int"/>
                                        <xs:element name="BasicSalary" type="xs:decimal"/>
                                        <xs:element name="Bonus" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>